/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html { 
    background-image: url('/assets/background.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    padding: 5em;
    color: white;
    font-family: 'Arvo', serif;
}

div {
    display: grid;
    grid-template:auto 1fr auto / repeat(4, 25%);
    min-height: 75vh;
}

.background_color {
    background-color: rgba(44, 144, 151, 0.7);
}

h1, h2, h3 {
    font-family: 'Paytone One', sans-serif;
}

h1 {
    font-size: 80px;
    color: white;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px hsl(344, 59%, 58%), 0 0 40px hsl(344, 59%, 58%), 0 0 50px hsl(344, 59%, 58%), 0 0 60px hsl(344, 59%, 58%), 0 0 70px hsl(344, 59%, 58%);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e67b74, 0 0 40px #e67b74, 0 0 50px #e67b74, 0 0 60px #e67b74, 0 0 70px ##e67b74, 0 0 80px ##e67b74;
    }
  }

main {
    grid-row: 1;
    grid-column: 2/4;
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px;
}

.main_title {
    font-size: 3em;
    border-bottom: 4px;
    border-color: white;
    grid-row: 1;
}

header {
    padding-bottom: 2em;
    margin: 0;
    position: relative;
}

header nav {
    list-style-type: none;
    grid-row: 2;
    grid-column: 1;
}

.nav_links  {
    font-weight: bold;
    font-size: 2em;
    line-height: 300%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.change_color {
    transition: all .3s ease-in-out;
}

.change_color:hover {
    -webkit-transform: rotate(90deg);;
    color: hsl(344, 59%, 58%);
}

.links  {
    font-weight: bold;
    font-size: 1em;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.center {
    text-align: left;
    margin: 0;
    position: inherit;
    left: 13%;
    padding: 5px;
}

.align_list {
    text-align: left;
}

table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid white;
}

.foot {
    position: inherit;
    width: 100%;
    line-height: 200%;
    color: white;
    text-align: center;
    border-top: 2px;
    border-color: white;
    padding-top: 20px;
}

