html { 
    background-image: url('https://www.flickr.com/photos/171032723@N02/47646313311/');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    padding: 5em;
    color: white;
    font-family: 'Arvo', serif;
}

div {
    display: grid;
    grid-template:auto 1fr auto / repeat(4, 25%);
    min-height: 75vh;
}

.background_color {
    background-color: rgba(44, 144, 151, 0.7);
}

h1, h2, h3 {
    font-family: 'Paytone One', sans-serif;
}

h4 {
    border-bottom: 2px solid;
    border-color: #e67b74;
    width: 250px;
}

h1 {
    font-size: 80px;
    color: white;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px hsl(344, 59%, 58%), 0 0 40px hsl(344, 59%, 58%), 0 0 50px hsl(344, 59%, 58%), 0 0 60px hsl(344, 59%, 58%), 0 0 70px hsl(344, 59%, 58%);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e67b74, 0 0 40px #e67b74, 0 0 50px #e67b74, 0 0 60px #e67b74, 0 0 70px #e67b74, 0 0 80px #e67b74;
    }
}

main {
    grid-row: 1;
    grid-column: 2/4;
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px;
}

.main_title {
    font-size: 3em;
    grid-row: 1;
}

header {
    padding-bottom: 2em;
    margin: 0;
    position: relative;
}

ul {
    list-style-type: none;
}

header nav {
    grid-row: 2;
    grid-column: 1;
}

.nav_links  {
    font-weight: bold;
    font-size: 2em;
    line-height: 300%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.change_color {
    transition: all .3s ease-in-out;
}

.change_color:hover {
    -webkit-transform: rotate(90deg);;
    color: hsl(344, 59%, 58%);
}

img {
    width: 100px;
    height: 100px;
    padding:1px;
    border:1px solid #021a40;
}

.links  {
    font-weight: bold;
    font-size: 1em;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.center_driver {
    text-align: center;
    margin: 0;
    position: inherit;
    left: 8%;
    padding: 5px;
}

.center_passenger {
    text-align: center;
    margin: 0;
    position: inherit;
    left: 13%;
    padding: 5px;
}

.center_trip {
    text-align: left;
    margin: 0;
    position: inherit;
    left: 30%;
    padding: 5px;
}

.align_list {
    text-align: left;
}

table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid white;
}

footer {
    position: inherit;
    width: 100%;
    line-height: 200%;
    color: white;
    text-align: center;
    padding-top: 20px;
}

